body {
font-family: Helvetica, Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}